.completed-item {
  opacity: 0.5;

  ion-label h2,
  ion-label p {
    text-decoration: line-through;
  }
}

.forecast-display {
  text-align: center;
}


.balance-input-wrapper {
  .balance-label {
    display: block;
    font-size: 0.6875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.75px;
  }

  .balance-input-container {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    transition: all 0.3s ease;

    .currency-prefix {
      font-size: 1.25rem;
      font-weight: 700;
      margin-right: .5rem;
    }

    .balance-input {
      flex: 1;
      font-size: 1.25rem;
      font-weight: 600;
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
      --background: transparent;

      &::part(native) {
        padding: 0;
      }
    }
  }
}
