.input-hint{
  font-size: 0.8em;
  margin-left: 10px;
}

.payment-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.icon-preview{
  padding: 1rem
}

ion-segment {
  padding: 0;
  background-color: unset;
}
